{% extends "base_layout.html" %}


{% block content %}
     <form
        class="site-form has-background-light"
        method="post"
       style="margin-top: 200px">
        {% csrf_token %}
             <p class="content has-text-centered is-size-4 mb-4">
        Вы действительно хотите удалить пост "{{ article }}"?
    </p>
        <div class="has-text-centered">
            <button type="submit" class="button is-success">Да</button>
            <a href="{% url 'blog:article_detail' article.slug  %}" class="button is-danger">
                Нет
            </a>
        </div>
    </form>
{% endblock %}