{% extends "base_layout.html" %}

{% block content %}
    <form
        class="site-form has-background-light"
        method="post"
        enctype="multipart/form-data">
    <h2 class="title is-site-2 has-text-centered">Изменить</h2>
        {% csrf_token %}
        {{ form }}
        <div class="has-text-centered my-4">
            <button type="submit" class="button is-success">Отправить</button>
            <a href="{% url 'blog:article_detail' article.slug  %}" class="button is-danger">
                Отмена
            </a>
        </div>
    </form>
{% endblock %}